<div class="container">
  <div class="twelve columns offset-by-three">
    <h4>Our list of Charities that we support</h4>
    <% @beneficiaries.each do |beneficiary| %>
    <ul>
      <li><%= beneficiary.name %></li>
    </ul>
    <% end %>
  </div>
</div>
