<div class="row hero2">
  <div class="twelve columns offset-by-five whitespace">
    <h1 class="title-white">Where <h1 class="title-orange">You</h1><h1 class="title-white">Can Make A</h1><h1 class="title-orange">Change</h1>
  </div>
</div>
<div class="twelve columns how-style action">
  <div class="row">
    <h5 class="how-title">
      Project by project, we're changing the way new ideas come to life.
    </h5>
  </div>
  <div class="row">
    <div class="three columns">
      <p class="how-color">
        $950MM+
      </p>
      <p>
        Total raised across all goals and campaigns
      </p>
    </div>
    <div class="three columns">
      <p class="how-color">
        11MM+
      </p>
      <p>
        Contributions from our amazing community of giver.
      </p>
    </div>
    <div class="three columns">
      <p class="how-color">
        223
      </p>
      <p>
        Countries & territories where campaigns & goals have started.
      </p>
    </div>
    <div class="three columns">
      <p class="how-color">
        17,386%
      </p>
      <p>
        The most a campaign has exceeded its goal … so far!
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="twelve columns">
    <br>
    <p>
      How it works?
    </p>
    <br>
    <p>
      You are kind and you want to make a positive change to the world.
      You have goals and aspirations.
      You have family and friends who want to support you.
    </p>
    <br>
    <p>
      We help you pair your personal goals with charitable causes.
      We connect your goals and charitable causes with your family and friends.
    </p>
    <br>
    <p>
      Want to run a marathon while raising fund for the Children Cancer Society? We can help.
      Want to quit smoking while raising money to rehouse 5 stray animals? Let's do it.
      Want to pursue a personal goal and raise money to a charity of your choice? Start now.
    </p>
    <br>
    <p>
      All in three simple steps.
      1. Sign up with two clicks using your Facebook account
      2. Create a new goal and your fund raising target
      3. Share your goal on Facebook
    </p>
  </div>
</div>
<div class="row footer">
  <div class="container">
    <div class="three columns">
      <h5 class="footer-title">About Us</h5>
      <ul>
        <li class="white"><a class="white" href="#">What is Chivalrous?</a></li>
        <li class="white"><a class="white" href="#">Who we are</a></li>
        <li class="white"><a class="white" href="#">Jobs</a></li>
        <li class="white"><a class="white" href="#">Newsletters</a></li>
      </ul>
    </div>
    <div class="three columns">
      <h5 class="footer-title">Help</h5>
      <ul>
        <li class="white"><a class="white" href="#">FAQ</a></li>
        <li class="white"><a class="white" href="#">Our Rules</a></li>
        <li class="white"><a class="white" href="#">Creator Handbook</a></li>
        <li class="white"><a class="white" href="#">Campus</a></li>
        <li class="white"><a class="white" href="#">Trust & Safety</a></li>
        <li class="white"><a class="white" href="#">Support</a></li>
        <li class="white"><a class="white" href="#">Terms of Use</a></li>
        <li class="white"><a class="white" href="#">Privacy Policy</a></li>
        <li class="white"><a class="white" href="#">Cookie Policy</a></li>
      </ul>
    </div>
    <div class="three columns">
      <h5 class="footer-title">Help</h5>
      <ul>
        <li class="white"><a class="white" href="#">FAQ</a></li>
        <li class="white"><a class="white" href="#">Our Rules</a></li>
        <li class="white"><a class="white" href="#">Creator Handbook</a></li>
        <li class="white"><a class="white" href="#">Campus</a></li>
        <li class="white"><a class="white" href="#">Trust & Safety</a></li>
        <li class="white"><a class="white" href="#">Support</a></li>
        <li class="white"><a class="white" href="#">Terms of Use</a></li>
        <li class="white"><a class="white" href="#">Privacy Policy</a></li>
        <li class="white"><a class="white" href="#">Cookie Policy</a></li>
      </ul>
    </div>
    <div class="three columns">
      <h5 class="footer-title">Help</h5>
      <ul>
        <li class="white"><a class="white" href="#">FAQ</a></li>
        <li class="white"><a class="white" href="#">Our Rules</a></li>
        <li class="white"><a class="white" href="#">Creator Handbook</a></li>
        <li class="white"><a class="white" href="#">Campus</a></li>
        <li class="white"><a class="white" href="#">Trust & Safety</a></li>
        <li class="white"><a class="white" href="#">Support</a></li>
        <li class="white"><a class="white" href="#">Terms of Use</a></li>
        <li class="white"><a class="white" href="#">Privacy Policy</a></li>
        <li class="white"><a class="white" href="#">Cookie Policy</a></li>
      </ul>
    </div>
    <div class="seven columns no-margin">
      <h4 class="newsletter">Sign up for our newsletter</h4>
      <form class="" action="index.html" method="post">
        <input class="eight columns"placeholder="Your email address" type="email">
        <button class="orange-button">Sign up</button>
      </form>
    </div>
    <div class="four columns social-margin">
      <h4 class="follow">Follow us</h4>
      <a class="a-noncolor" href="http://www.facebook.com"><i class="fa fa-facebook-official fa-lg social-media" aria-hidden="true"></i></a>
      <a class="a-noncolor" href="http://www.twitter.com"><i class="fa fa-twitter fa-lg social-media" aria-hidden="true"></i></a>
      <a class="a-noncolor" href="http://www.instagram.com"><i class="fa fa-instagram fa-lg social-media" aria-hidden="true"></i></a>
      <a class="a-noncolor" href="http://www.youtube.com"><i class="fa fa-youtube-play fa-lg social-media" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
